.Email {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
}
.sender-name {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  text-align: left;
}
.sender-email {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: left;
}
.email-date {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: left;
}
.email-content {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
.email-tags {
  font-family: Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: right;
}
.email-info {
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  text-align: left;
  color: #6a5858;
  display: flex;
  align-items: center;
}
.receiver-info {
  text-align: left;
  color: #000000cc;
}
